*{
    font-family: "Inter", sans-serif;
    padding: 0px;
    margin: 0px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 180px 0px 180px;
    height: 130px;
    width: 100%;
    border-bottom: 2px solid rgb(240, 239, 239);
}

.brand-logo{
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-right: 700px;
}

.brand-logo img{
    height: 34px;
    width: 260px;
    margin-top: 20px;
}

.menu-options{
    box-sizing: border-box;
    padding-left: 200px;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-end;
}

.more-link{
    display: flex;
    justify-content: space-evenly;
}

.menu-link{
    font-size: 30px;
    margin-right: 100px;
    padding-top: 30px;
    color: #666;
    font-weight: 500;
}

.more-link{
    display: block;
    padding-top: 30px;
}

.more-link div{
    height: 4px;
    width: 30px;
    margin-bottom: 10px;
    background-color: #424242;
}

.menu-link:hover{
    color: #5b4ded;
    cursor: pointer;
}

.more-link:hover{
    cursor: pointer;
}

.text-centre-landing{
    padding-left: 160px;
    padding-right: 160px;
    margin-top: 50px;
    text-align: center;
}

.body-image{
    margin-bottom: 30px;
    display: flex;
    padding-left: 80px;
    padding-right: 100px;
}

.body-image img{
    height: 45vh;
    width: 120vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.landing-header{
    margin-top: 30px;
    font-size: 110px;
    color: #424242;
}

.landing-para{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
}

.signup-btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 500px;
    height: 70px;
    background-color: #387ed1;
    padding-top: 30px;
    padding-bottom: auto;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.btn-txt{
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
}


.signup-btn:hover{
    background-color: black;
    cursor: pointer;
}